h1 {color: rgb(21, 21, 107);
}

h2 { color: rgb(44, 21, 66);
}

h3 {color: firebrick;
}

h1 {text-align:center ;
}

h2 {text-align: right;
}

h3 {border-color: rgb(20, 80, 77);
    border-style: solid;
    border-width: 5px;
}

h4 { font-size: 150%;
}

h4 {text-align: center;
}

h3 {margin-left: 50%;
}

h3 {padding-right: 01;
}
#parte01 {background-color:rgb(31, 148, 31) ;
}

#parte02 { background-color: brown);
}